.global-header {
    position: fixed;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
  }

  .back-link {
    position: absolute;
    left: 20px;
    text-decoration: none;
    color: white;
  }