body {
    margin: 15px;
    padding: 15px;
    font-size: larger;
    width: fit-content;
  }

  .box {
    display: flex;
    align-items: center;
  }
  
  #img {
    margin: 0 15px 0 0;
  }
  
  .text {
    margin: 100px;
  }