mixin baner()
  .c-baner
    +img("./aseets/icons/Scene.png", "background-img", c-baner__img)(class="c-baner__img")
    h1.c-baner__title Your awesome traffic permit consultant.
    .c-baner__button
      +link("#","GET STARTED")(class="e-link e-link--orange")
