@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Londrina Outline';
  src: url('../assets/fonts/londrina_outline/LondrinaOutline-Regular.ttf') format('truetype');
}
