extends ./src/_extends/common

block title
  title Pre/Post processors

block style
  link(rel="stylesheet", href="./node_modules/normalize-scss/sass/normalize.scss")

block content
  +header()
  +baner()
  +about-us()