// COLORS
$c-black: #402b2b;
$c-orange: #ee4d47;
$c-white: #ffffff;
$c-light-red: #fcddd4;

// Font
$f-roboto: "Roboto", sans-serif;

// Font size
$fs-base: 18;
// $fs-h1: 48;

// Transition
$t-normal: 0.35s cubic-bezier(0.4, 0, 0.2, 1);

// Box Shadow
$bs-normal: 3px 4px 7px rgba($c-black, 0.1);
